
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/publicdash.css">

    <title>Admin</title>
</head>
<body>
    <nav class="navbar">
        <div class="title">
            <h1>Blogs</h1>
        </div>
        <div class="add">
            <h1><a href="panel/add"></a></h1>
        </div>
    </nav>
    <section class="dash">
        <% if(user != 'undefine') {%>
            <% user.forEach(ele => { %>
                <div class="upper">
                        <p id="name">name: <%= ele.name%></p>
                        <p id="title">title: <%= ele.title%></p>
                        <p id="category"><%= ele.category%></p>
                        <a href="/<%=ele._id%>">-></a>
                        <a href="/panel/delete/<%=ele._id%>">delete</a>
                        <a href="/panel/edit/<%=ele._id%>"></a>
                </div>
            <%});%> 
        <% } %>   
    </section>
</body>
</html>
