
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <section class="addnew">
        <div class="firsr">
            <h2>edit</h2>
        </div>
        <div class="second">
            <form action="/panel/edit" method="POST">
                <input type="hidden" name="id" value="<%=user._id%>">
                <input type="text" name="name" id="name" placeholder="name" value="<%=user.name%>">
                <input type="text" name="title" id="title" placeholder="title" value="<%=user.title%>">
                <input type="text" name="category" id="category" placeholder="category" value="<%=user.category%>">
                <textarea name="blog" id="blog" cols="30" rows="10" placeholder="blog" ><%=user.blog%></textarea>
                <input type="submit" value="Edit">
            </form>
        </div>
    </section>
</body>
</html>
